.anime-card {
    width: 255px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(209, 206, 206);
    margin: 20px;
    transition: transform .2s;
    box-shadow: 0 0 10px gray;

    animation: ani 1s forwards;

    &:hover {
        transform: scale(1.08);
    }

    &:hover &__image-hover {
        box-shadow: 0 0 20px gray;
        opacity: 100;
    }


    &__image-hover {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: blue, $alpha: 0.7);
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &--top-div {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--children {
                display: flex;
            }
        }

        &--info {
            background: rgba($color: white, $alpha: 0.3);
            color: white;
            font-size: 17px;
            font-weight: 700;
            border: 1px solid #fff;
            border-radius: 50px;
            padding: 0 10px;
            height: 30px;
            margin-right: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--button {
            margin-left: 10px;

            &-like {
                width: 34px;
                height: 34px;
                object-fit: cover;
                transition: transform .2s;
                position: relative;

                &:hover {
                    transform: scale(1.07);
                }
            }
        }

        &--name {
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
            color: white;
        }

        &--div-genres {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 10px 0;
            padding: 0 20px;
        }

        &--genres {
            padding: 0 10px;
            height: 30px;
            background: transparent;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border: 1px solid #fff;
            border-radius: 50px;
            margin: 5px 7px;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: transform .2s;
            position: relative;

            &:hover {
                transform: scale(1.07);
                background-color: rgba($color: #fff, $alpha: 0.3);
            }
        }

        &--rating {
            padding: 0 15px;
            height: 30px;
            background-color: rgba(77, 186, 77, 0.8);
            color: white;
            font-size: 18px;
            font-weight: 600;
            border-radius: 50px;
            margin: 10px 0 25px 0;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        width: 255px;
        height: 350px;
        object-fit: cover;
        position: absolute;
    }


}