@keyframes ldio-h7uikoescw7 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-h7uikoescw7 div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 15px solid rgba($color: blue, $alpha: 0.8);
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-h7uikoescw7 div {
  animation: ldio-h7uikoescw7 1s linear infinite;
  top: 108.5px;
  left: 108.5px
}
.loadingio-spinner-rolling-2iznc8vdak9 {
  width: 217px;
  height: 217px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-h7uikoescw7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-h7uikoescw7 div { box-sizing: content-box; }