.button-left-menu{
    width: 350px;
    height: 80px;
    border: none;
    background: white;

    color: black;
    font-size: 20px;
    font-weight: 600px;
    padding-left: 92px;

    display: flex;
    align-items: center;

    transition: font-size .1s;

    &:hover{
        background: rgb(229, 228, 228);
        font-size: 22px;

        .button-left-menu--img{
            width: 28px;
            height: 28px;
        }
    }



    &--img{
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }


}