.button-left-menu{
    width: 320px;
    height: 80px;
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    padding-left: 75px;
    border-bottom: 0.1px solid rgba($color: #fff, $alpha: 0.2);
    display: flex;
    align-items: center;

    transition: font-size,background-color .1s;

    &:hover{
        background-color: rgba($color: white, $alpha: 0.2);
        font-size: 23px;

        .button-left-menu--img{
            width: 37px;
            height: 37px;
        }
    }

    &--img{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        object-fit: cover;
        filter: brightness(0) invert(1);
    }


}