.account-info {
    width: 65%;
    height: 100%;
    padding: 50px 0;
    background-color: rgba($color: white, $alpha: 0.4);
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: center;

    &--avatar{
        width: 40%;
        display: flex;
        justify-content: center;

        &-img{
            width: 200px;
            height: 200px;
            border-radius: 200px;
            border: 20px solid rgba($color: blue, $alpha: 0.8);
            background-color: rgba($color: blue, $alpha: 0.5);
            font-size: 100px;
            font-weight: 600;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &--mylist{
        text-align: left;
        align-items: center;
    }

    &--text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & label{
            margin: 10px 0;
            font-size: 25px;
            font-weight: 600;
        }
    }

    &--update{
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end; 


        &--button{
            width: 150px;
            height: 40px;
            margin: 10px 0;
            background-color: rgba($color: blue, $alpha: 0.8);
            border: none;
            color: white;
            font-size: 16px;
            font-weight: 500;
        }


    }
}

.create-account {
    
    margin-top: 100px;
    width: 30%;
    height: 550px;
    background-color: rgba($color: white, $alpha: 0.9);
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;

    &-button{
        width: 40%;
        height: 40px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        border: none;
        margin: 10px 0;
        background-color: rgba($color: blue, $alpha: 0.8);

        &:hover{
            transform: scale(1.07);
        }
    }

    &-label{
        width: 40%;
        text-align: left;
    }

    &-input{
        border: none;
        width: 40%;
        height: 50px;
        padding: 0 15px;
        outline: none;
        background: rgb(198 198 198);
        margin: 10px 0;
    }

    &-block{
        width: 40%;
        height: 50px;
        padding: 0 15px;
        background: rgb(198 198 198);
        margin: 10px 0;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}


.verify{
    font-size: 20px;
    
    &-true{
        color: green;
    }

    &-false{
        color: red;
    }
}

.mylist-tittle{
    width: 100%;
    font-size: 40px;
    font-weight: 800;
    margin: 40px 0 0 0;  
    padding-left: 60px;
}

.bg-black{
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    margin-top: -60px;
    background: rgba($color: #000000, $alpha: 0.9);
    box-shadow: 0 0 1000px black;
    
}